5.7  发表微博 
现在网站已经具备了用户注册、登入、页面权限控制的功能，这些功能为网站最核心的
部分——发表微博做好了准备。在这个小节里，我们将会实现发表微博的功能，完成整个网
站的设计。 
5.7.1  微博模型 
现在让我们从模型开始设计。仿照用户模型，将微博模型命名为 Post 对象，它拥有与 
User  相似的接口，分别是 Post.get  和  Post.prototype.save。Post.get   的功能是从
数据库中获取微博，可以按指定用户获取，也可以获取全部的内容。Post.prototype.save 
是  Post 对象实例的方法，用于将对象的变动保存到数据库。 
创建 models/post.js，写入以下内容： 
var  mongodb = require('./db'); 
 
function  Post(username, post, time) { 
  this.user = username; 
  this.post = post; 
124  第 5 章  使用Node.js进行Web 开发 
 
  if (time) { 
    this.time = time; 
  } else { 
    this.time =  new Date (); 
  } 
}; 
module.exports = Post; 
 
Post.prototype.save = function  save(callback) { 
  // 存入 Mongodb 的文档 
  var  post = { 
    user: this.user, 
    post: this.post, 
    time: this.time, 
  }; 
  mongodb.open(function (err, db) { 
    if (err) { 
       return  callback(err); 
    } 
    // 读取 posts 集合 
    db.collection('posts', function (err, collection) { 
       if (err) { 
        mongodb.close(); 
         return  callback(err); 
      } 
      // 为 user 属性添加索引 
      collection.ensureIndex('user'); 
      // 写入 post  文档 
      collection.insert(post, {safe: true},  function (err, post) { 
        mongodb.close(); 
        callback(err, post); 
      }); 
    }); 
  }); 
}; 
 
Post.get =  function  get(username, callback) { 
  mongodb.open(function (err, db) { 
    if (err) { 
       return  callback(err); 
    } 
    // 读取 posts 集合 
    db.collection('posts', function (err, collection) { 
       if (err) { 
        mongodb.close(); 
         return  callback(err); 
      } 
5.7  发表微博    125 
 
1 
2 
3 
5 
7 
10 
8 
9 
4 
6 
      // 查找 user  属性为 username 的文档，如果 username 是 null  则匹配全部 
       var  query = {}; 
       if (username) { 
        query.user = username; 
      } 
      collection.find(query).sort({time:  -1}).toArray( function (err, docs) { 
        mongodb.close(); 
         if (err) { 
          callback(err, null); 
        } 
        //  封装 posts 为 Post 对象 
         var  posts = []; 
        docs.forEach( function (doc, index) { 
          var  post =  new  Post(doc.user, doc.post, doc.time); 
          posts.push(post); 
        }); 
        callback(null, posts); 
      }); 
    }); 
  }); 
}; 
在后面我们会通过控制器调用这个模块。 
5.7.2  发表微博 
我们曾经约定通过 POST  方法访问 /post  以发表微博，现在让我们来实现这个控制器。
在 routes/index.js  中添加下面的代码： 
app.post('/post', checkLogin); 
app.post('/post',  function (req, res) { 
  var  currentUser = req.session.user; 
  var  post =  new  Post(currentUser.name, req.body.post); 
  post.save(function (err) { 
    if (err) { 
      req.flash('error', err); 
       return  res.redirect('/'); 
    } 
    req.flash('success', ' 发表成功'); 
    res.redirect('/u/' + currentUser.name); 
  }); 
}); 
这段代码通过 req.session.user  获取当前用户信息，从 req.body.post  获取用
户发表的内容，建立 Post 对象，调用 save()  方法存储信息，最后将用户重定向到用户
页面。 
126  第 5 章  使用Node.js进行Web 开发 
 
5.7.3  用户页面 
用户页面的功能是展示用户发表的所有内容，在routes/index.js 中加入以下代码： 
app.get('/u/:user', function (req, res) { 
  User.get(req.params.user,  function (err, user) { 
    if (!user) { 
      req.flash('error', ' 用户不存在'); 
       return  res.redirect('/'); 
    } 
    Post.get(user.name, function (err, posts) { 
       if (err) { 
        req.flash('error', err); 
         return  res.redirect('/'); 
      } 
      res.render('user', { 
        title: user.name, 
        posts: posts, 
      }); 
    }); 
  }); 
}); 
它的功能是首先检查用户是否存在，如果存在则从数据库中获取该用户的微博，最后通
过  posts  属性传递给  user  视图。views/user.ejs  的内容如下： 
<% if (user) { %> 
  <%- partial('say') %>  
<% } %> 
<%- partial('posts') %>  
根据 DRY  原则，我们把重复用到的部分都提取出来，分别放入 say.ejs 和 posts.ejs 。say.ejs 
的功能是显示一个发表微博的表单，它的内容如下： 
<form method="post" action="/post" class="well form-inline center" style="text-align: 
center;"> 
  <input  type="text" class="span8" name="post" >  
  <button type="submit" class="btn btn-success" ><i  class="icon-comment icon-white"> 
</i> 发言</button> 
</form> 
posts.ejs  的目的是按照行列显示传入的  posts  的所有内容： 
<% posts.forEach(function(post, index) {  
  if (index % 3 == 0) { %> 
    <div class="row"> 
<%} %> 
  <div class="span4"> 
5.7  发表微博    127 
 
1 
2 
3 
5 
7 
10 
8 
9 
4 
6 
    <h2><a href="/u/<%= post.user %>"><%= post.user %></a> 说</h2> 
    <p><small><%= post.time %></small></p> 
    <p><%= post.post %></p> 
  </div> 
<% if (index % 3 == 2) { %> 
    </div><!-- end row --> 
<% } %> 
<%}) %> 
<% if (posts.length % 3 != 0) { %> 
  </div><!-- end row --> 
<%} %> 
完成上述工作后，重启服务器。在用户的页面上发表几个微博，然后可以看到用户页面
的效果如图5-14 所示。 
 
图5-14   用户页面 
5.7.4 首页 
最后一步是实现首页的内容。我们计划在首页显示所有用户发表的微博，按时间从新到
旧的顺序。 
在 routes/index.js  中添加下面代码： 
app.get('/',  function (req, res) { 
  Post.get( null, function (err, posts) { 
    if (err) { 
128  第 5 章  使用Node.js进行Web 开发 
 
      posts = []; 
    } 
    res.render('index', { 
      title: '首页', 
      posts: posts, 
    }); 
  }); 
}); 
它的功能是读取所有用户的微博，传递给页面  posts   属性。接下来修改首页的模板 
index.ejs ： 
<% if (!user) { %> 
  <div class="hero-unit"> 
    <h1> 欢迎来到 Microblog</h1> 
    <p>Microblog 是一个基于 Node.js 的微博系统。</p> 
    <p> 
      <a class="btn btn-primary btn-large" href="/login">登录</a> 
      <a class="btn btn-large" href="/reg"> 立即注册</a> 
    </p> 
  </div> 
<% } else { %> 
  <%- partial('say') %>  
<% } %> 
<%- partial('posts') %>  
下面看看首页的效果吧，图5-15 和图5-16 是用户登入之前和登入以后看到的首页效果。 
 
图5-15   登入之前的首页 
5.8  参考资料    129 
 
1 
2 
3 
5 
7 
10 
8 
9 
4 
6 
 
图5-16   登入以后的首页 
5.7.5  下一步 
到此为止，微博网站的基本功能就完成了。这个网站仅仅是微博的一个雏形，距离真正
的微博还有很大的距离。例如，我们没有对注册信息进行完整的验证，如用户名的规则，密
码的长短等。为了防止恶意注册还应该带有验证码和邮件认证的功能，甚至还应该支持 
OAuth 。我们对发帖没有进行任何限制，尽管注入 HTML 是不可能的，但至少还应该对长度
有限制。首页和用户页面的显示都是没有数量限制的，当微博很多以后这个页面可能会很长，
应该实现分页的功能。作为社交工具，最重要的用户关注、转帖、评论、圈点用户这些功能
都没有实现。 
除了功能上的不足，这个网站还有潜在的性能问题，例如每次查询数据库都没有限制取
得的数量，还应该对一些访问频繁的页面增加缓存机制。另外，我们一直是以开发模式在运
行着这个网站，没有讨论如何把它真正部署起来，我们会在下一章详细讨论。 
如果你对这个用 Node.js  实现的微博网站有兴趣，请访问https://github.com/BYVoid/ 
microblog，这里有  Microblog  示例中的完整代码，而且在其基础上还做了进一步的改进，也
欢迎你为它“添砖加瓦”。